
.table {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1rem;
    margin:5vw;
     /* border-bottom: 1px solid #d0d0d0;-height: 1.5rem; */
    
    /* text-align:center; */
    flex: 1 1 auto;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    font-family: 'Pangolin', cursive;
  }
  
  .th {
    display: none;
    
    text-transform: uppercase;
    font-size: 1.3rem;
   
  }

  .tr > .td{
    border-right:1px solid grey;
    color:#999;
  }

  .th > .td  {
    border-right:1px solid grey;

    white-space: normal;
    justify-content: center;
     background: #00cccc; 
    color:white; 
  }
  
  .tr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    
  }
  

  .td {
    display: flex;
    justify-content: start;
    flex-flow: row ;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
     word-break: break-word; 
     /* overflow: hidden;  */
     text-overflow: ellipsis;
    min-width: 0px;
    /* white-space: nowrap;  */
    border-bottom:  1px solid grey;
    
  }
  